name: Unit testing

on:
  push:
  pull_requsts:

jobs:
  run-tests:
    startegy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"

    name:
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependecies
        run: python -m pip install pytest firebase-admin scikit-learn pandas numpy

      - name: Run tests
        run: pytest
